<!-- <html lang="en">
<head>
  <meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"> -->
<head>
  <title> Tracking Hate Speech by Location</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" href="/static/layout/styles/layout.css" type="text/css" />
  <meta name="description" content="Predicting Fraud">
  <meta name="author" content="Galvanize DSI">
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <!-- <script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script> -->
  <style></style>
  <div id="fig01"></div>
  <script type="text/javascript">
    var json01 = { <snip JSON code> };
    mpld3.draw_figure("fig01", json01);
    </script>
</head>

<body>
  <div class="wrapper col1">
    <div id="header">
      <div class="fl_left">
        <h1><a href="index.html">Pos Neg Sentiment Trending</a></h1>
        <p>A Case Study</p>
      </div>
      <br class="clear" />
    </div>
  </div>
  <form action="/predict" method='POST' >
      <input type="text" name="user_input" />
      <input type="submit" />
  </form>
</body>
</html>
