<html>
  <head>
    <script type="text/javascript" src="/static/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {'packages':['corechart']}); //core chart
      google.charts.setOnLoadCallback(drawChart);
    </script>
    <script type="text/javascript">
      var myJSON = decodeJSON('{{vars}}');
      // console.log(myJSON)
      // console.log('i am here');
    </script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <h3>Most Used Words</h3>
    <script>
      document.write("<span class='green'> The most used words may be found here:" +" '{{top}}'</span>");
    </script>

   </body>
  </body>
</html>
