packages:
  yum:
    make: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []
container_commands:
  AddGlobalWSGIGroupAccess:
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"

  00_install_numpy:
    command: "pip install numpy"

  01_install_scipy:
    command: "pip install scipy"

  03_install_sklearn:
    command: "pip install scikit-learn"

option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
